<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type=text/css href="{% static 'css/home.css' %}"/>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="{% static 'js/home.js' %}" type="text/javascript"></script>
    <title>home</title>
  </head>
  <body class="body">
	<div class="container">
		<div class="row">
			<div class="col">
				<br>
				<div class="mb-5 mx-5 py-2 flex-center-col align-c">
					<h1 class="text-36 mb-3">Find Book</h1>
					<form class="form-inline mb-2">
						<input class="form-control searchbox " type="search" placeholder="Search" aria-label="Search">
						<div class="append flex">
							<input class="form-control mr-sm-2 mr-2 numbox" min="1" max="40" placeholder="10" id="custom1" type="number">
						</div>
						<button class="btn btn-outline-light my-2 my-sm-0 btn-search" type="submit">Search</button>
					</form>
					<div class="spinner-grow text-dark none" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>

				<div class="result align-l mx-5">
					<div id="res-header" class="flex-left mb-4">
						<div class="vr mr-3"></div>
						<div class="text-container">
							<h1 class="text-24 hasil">Search Results</h1>
							<p class="text-12">Here's the search results of your keywords.</p>
						</div>
					</div>
					<div class="status-container none">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Title</th>
									<th scope="col">Writer</th>
									<th scope="col">Pages</th>
									<th scope="col">Publisher</th>
									<th scope="col">Categories</th>
									<th scope="col">Cover</th>
								</tr>
							</thead>
							<tbody>	
							</tbody>
						</table>
					</div>
					<p>There's nothing to show...</p>
				</div>	
			</div>	
		</div>
	</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>